name: "[CI] Test PR"

on: [pull_request]

permissions:
  contents: read

jobs:
  unitlint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          check-latest: true
      - name: Install Tox
        run: pip install tox tox-gh
      - name: Run Tox
        run: tox
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.python }}
      - uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.xml
          name: py${{ matrix.python }}-${{ matrix.os }}
          flags: unittests
          fail_ci_if_error: true
          verbose: true
  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.10"]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: Install cfn-lint
        run: |
          pip3 install -e .
      - name: Run cfn-lint
        run: |
          cfn-lint test/fixtures/templates/good/generic.yaml
          cat test/fixtures/templates/good/generic.yaml | cfn-lint
  dependencies:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.10"]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: Install cfn-lint
        run: |
          pip3 install -e .
          pip install --upgrade pip
          pip install --upgrade setuptools
      - uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          ignore-vulns: |
            GHSA-r9hx-vwmv-q579
            PYSEC-2022-43012
            PYSEC-2024-60
            GHSA-4xh5-x5gv-qwph
