name: Testing

on: [push, pull_request]

jobs:
  unitlint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [ 3.7, 3.8, 3.9, "3.10", "3.11" ]

    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox
      - name: Run Tox
        run: |
          tox -e style
          tox -e type
          tox -e py
      - uses: codecov/codecov-action@v3.1.1
        if: matrix.os == 'ubuntu-latest'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml # optional
          name: py${{ matrix.python-version }}-${{ matrix.env.TOXENV }}-${{ matrix.os }}
          flags: unittests # optional
          fail_ci_if_error: true # optional (default = false)
  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python: [3.8]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install cfn-lint
        run: |
          pip3 install -e .
      - name: Run cfn-lint
        run: |
          cfn-lint test/fixtures/templates/good/generic.yaml
          cat test/fixtures/templates/good/generic.yaml | cfn-lint
  dependencies:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: [3.8]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install cfn-lint
        run: |
          pip3 install -e .
      - uses: pypa/gh-action-pip-audit@v1.0.4
        with:
          ignore-vulns: |
            GHSA-r9hx-vwmv-q579
